/* header contact */

.header-contact{
  background-color: #40FFFF;
  font: 500 0.8rem "Roboto";
  padding-top: 8px;
  padding-bottom: 8px;
}

.header-contact-div {
  display: flex;
  justify-content: space-between;
}

.contact-items {
  display: flex;
  gap: 20px;
}

@media (max-width: 600px) {
  .header-contact {
    display: none;
  }
} 

/* ===header=== */

.header-bg {
  background-color: #F7F7F7;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 11px;
  padding-top: 11px;
  font: 400 1.2rem "Roboto";
  align-items: center;
  margin-bottom: 20px
}

.header-menu {
  display: flex;
  gap: 40px;
}

@media (max-width: 750px) {
  .header img {
    width: 150px;
  }
  .header-menu {
    font-size: 1.1rem;
    gap: 20px;
  }
}

@media (max-width: 470px) {

  .header {
    margin-bottom: 10px;
  }
  .header img {
    width: 100px;
  }

  .header-menu {
    font-size: 0.8rem;
    gap: 6px;
  }
}

@media (max-width: 340px) {
  .header img {
    width: 50px;
  }

  .header-menu {
    font-size: 0.6rem;
  }
}


/* ===Nossos Destinos=== */

.detalhe {
  color: #F8C40E;
}

.destinos-bg {
  padding-top: 40px;
  padding-bottom: 40px;
}

.destinos h1 {
  font: 500 2.5rem "poppins";
  margin-bottom: 20px;
}

.mais-localidades {
  text-align: center;
  text-decoration: underline;
  color: #002946;
  font: 500 2rem "Roboto";
}

@media (max-width: 600px) {
  .destinos h1 {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .destinos-bg {
    padding-top: 16px;
    padding-bottom: 12px;
  }

  .mais-localidades {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .mais-localidades {
    font-size: 1rem;
  }
}

.duvidas-bg {
  background-color: #121212;
}

.duvidas {
  padding-top: 40px;
  padding-bottom: 40px;
}

.duvidas h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #F7F7F7;
}

.duvidas p {
  color: #E0E0E0;
}

.duvidas > p {
  max-width: 900px;
  font-size: 1.5rem;
  margin-bottom: 60px;
}

.duvidas img {
  width: 50px;
  height: 50px;
}

.diferenciais {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  font: 500 1rem "Roboto";
}

@media(max-width: 450px) {
  .duvidas {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  .duvidas h1 {
    font-size: 1.2rem;
    margin-bottom: 12px;
  }
  
  .duvidas > p {
    max-width: 300px;
    font-size: 0.8rem;
    margin-bottom: 20px;
  }
  
  .duvidas img {
    width: 20px;
    height: 20px;
  }
  
  .diferenciais {
    gap: 8px;
    margin-bottom: 8px;
    font-size: 0.8rem;
  }
}

.footer-bg {
  background-color: #F7F7F7
}

.footer {
  padding-top: 20px;
  padding-bottom: 4px;
}

.footer h1 {
  margin-bottom: 20px;
}

.contato {
  margin-bottom: 20px;
}

.contato a{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  font: 500 1.2rem "roboto";
}

.contato img {
  width: 40px;
  height: 40px;
}

.footer p {
  color: #7a7a7a;
}

@media (max-width: 600px){
  .footer {
    padding-top: 12px;
    padding-bottom: 2px;
  }
  
  .footer h1 {
    margin-bottom: 8px;
    font-size: 1rem;
  }
  
  .contato {
    margin-bottom: 8px;
  }
  
  .contato a{
    gap: 4px;
    margin-bottom: 8px;
    font-size: 0.8rem;
  }
  
  .contato img {
    width: 17px;
    height:17px;
  }
  
  .footer p {
    font-size: 0.6rem;
  }
}